@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
  position: absolute;
  right: 0; }

body::-webkit-scrollbar-track {
  background: #ccc;
  /* color of the tracking area */
  position: absolute;
  right: 0; }

body::-webkit-scrollbar-thumb {
  position: absolute;
  right: 0;
  background-color: #888;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #888;
  /* creates padding around scroll thumb */
  margin: 1px; }

a {
  text-decoration: none; }

nav {
  transition: 1s; }

.text-primarycolor {
  color: #3498ff; }

.text-secondarycolor {
  color: #004892; }

.bg-primarycolor {
  background-color: #3498ff; }

.btn-transparent {
  background-color: transparent;
  color: #f3f3f3; }

.btn-transparent:hover {
  color: #fff;
  text-shadow: 0px 0px 10px #CECECE; }

nav .barra {
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: .5s; }

nav .menu a:focus {
  box-shadow: none; }

nav .menu a.active {
  color: #004892; }

.barra {
  height: 2px;
  width: 0;
  background-color: #3498ff;
  transition: .5s; }

.banner {
  min-height: 100vh; }

.banner h1, .h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50pt; }

.banner .efeito-digitacao:after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: efeito-digitacao .7s infinite; }

.info-principal {
  background-color: #efefef; }

.foto-banner {
  background-color: #3498ff; }

.redes a {
  text-shadow: 5px 5px 13px #ccc; }

.redes a:hover {
  color: #3498ff;
  text-shadow: 5px 5px 13px #fff; }

.filtros-portifolio a:focus {
  box-shadow: none !important; }

#imagens-portifolio > div {
  transition: 1s;
  cursor: pointer; }

#topo button {
  width: 50px;
  height: 50px; }

#topo {
  transition: 1s; }

.div-portifolio {
  overflow: hidden; }

.div-portifolio:hover .hover-portifolio {
  opacity: 1; }

.hover-portifolio {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center;
  transition: 1s;
  top: 0;
  opacity: 0; }

.btn-img-portifolio:hover {
  color: #004892 !important;
  transform: scale(1.2); }

.borda-img-portifolio-cima, .borda-img-portifolio-baixo {
  position: absolute;
  height: 30%;
  width: 30%; }

.borda-img-portifolio-cima {
  top: 0;
  right: 0;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  margin: 1rem; }

.borda-img-portifolio-baixo {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  margin: 1rem; }

@keyframes efeito-digitacao {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
.banner-portifolio {
  position: relative; }

.banner-portifolio-suave {
  background: linear-gradient(transparent, white);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; }

.banner-portifolio-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45pt;
  z-index: 2; }

.banner-portifolio-link a {
  color: #222;
  transition: .8s; }

.portifolio-espec .banner-portifolio-link a:hover {
  color: #dc3545;
  transform: scale(1.5); }
